{% extends 'users/index.html' %}
{%block content%}
	<div class="login ">
		<div class="login_form login_register">
			<h1 class="login_title">Create New Account</h1>
			<form class="form_login" method="POST">
				{% csrf_token %}
			<!-- 	<input type="text" name="username" placeholder="Your USN">
				<input type="password" name="password" placeholder="Password">
				<input type="password" name="rpassword" placeholder="Confirm Password">
				<p class="input_info"> Wanna take some responsibility ? </p>
				<span class="input_pair">
					<input id="check" type="checkbox" name="applied_mod" value="1">
					<label for="check"> Apply For Moderator</label>
				</span> -->
				{{form.errors}}
				{{form.first_name}}
				{{form.last_name}}
				{{form.username}}
				{{form.password}}
				{{form.rpassword}}
				<span class="input_pair">
					{{form.mod}}
					{{form.mod.label}}
				</span>
				<input class="submit" type="submit" value="Register">
				<label class="label_msg"> Already Have Account ? <a href="{% url 'login' %}"> Login </a></label>
			</form>
		</div>
	</div>
{%endblock%}