<!DOCTYPE html>
<html>
<head>
	<title>Dahboard | BitsPlease</title>
	{%load static  %}
		<link rel="stylesheet" type="text/css" href="{% static '/users/dashboard.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lato|Righteous" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div class="dashboard_wrapper">
		<div class="dashboard_header">
			<div class="dashboard_brand">
				{# Hamburger menu  #}
				<h1 class="dashboard_title">BitsPlease</h1>
			</div>

			<div class="dashboard_user_menu">
				<div class="user_info" id="user_info">
					<img src="{% static 'users/images/user.png' %}" class="user_profile_image">
					<h1 class="user_name">Bikash Thapa</h1>
					<ul class="user_menu" id="user_menu">
						<li class="user_menu_item"><a href="#">Edit Profile</a></li>
						<li class="user_menu_item"><a href="#">Settings</a></li>
						<li class="user_menu_item"><a href="{% url 'logout' %}">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>

		
			<div class="dashboard_main_content">

			<div class="dashboard_left_menu">
				{% block dashboard_menu %}
					<ul class="admin_menu">
						<li><a href="{% url 'dashboard' %}">Home</a></li>
						<li><a href="{% url 'all_exam' %}">Exams</a></li>
						<li><a href="{% url 'all_subject' %}">Subjects</a></li>
						<li><a href="{% url 'all_question' %}">Questions</a></li>
						<li><a href="#">Analytics</a></li>
						<li><a href="#">Moderators</a></li>
						<li><a href="#">Settings</a></li>
					</ul>
				{% endblock %}
			</div>
			<div  class="dashboard_content">
			{% block dashboard_content%}
				<h1>Admin Dashboard</h1>
			{% endblock %}
			</div>
			
		</div>
		
	</div>
	<script type="text/javascript" src="{% static 'users/js/script.js' %}"></script>
</body>
</html>