* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 70%;
}

body {
	background:#ccc;
	font-family: "Lato",serif;
}

.dashboard_header {
	padding:1rem;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 1rem 2rem 0px rgba(0,0,0,0.3);
}
.dashboard_title {
	font-family: "Righteous",cursive;
	font-size: 3rem;
	font-weight: 500;
	color: green;
}
.user_profile_image {
 	height: 5rem;
 	width: 5rem;
 	border-radius: 50%;
 	margin-right: 1rem;
}
.user_info {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.user_name {
	font-family: "Righteous",cursive;
	font-weight: 300;
	font-size: 1.7rem;
	color: #607d8b;
}
.user_name::after {
	display: inline-block;
    content: "\27A7";
    transform: rotate(90deg);
    font-size: 1.7rem;
    padding: 1rem;
    color: #867e7e;
}
.dashboard_main_content {
	display: flex;
	margin-top: 0.1rem;
	align-items: start;
}
.dashboard_left_menu {
	padding: 3rem;
	background:#fff;
	height: 100vh;
}
.dashboard_content {
	padding: 5rem;
	flex: 1;
	
}

.user_menu {
	position: absolute;
    background: #fff;
    padding: 0;
    border-radius: 0px 0px 3px 3px;
    list-style-type: none;
    margin: 0;
    top: 6rem;
    left: 1rem;
    width: 100%;
    display: none;
}
.user_menu_item {
	padding: 1rem;
}
.user_menu_item a {
	font-size: 1.7rem;
	text-decoration: none;
	color: #000;
}
.display {
	display: block;
}
.admin_menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.admin_menu li  {
	padding: 2rem;

}

.admin_menu li a {
	text-decoration: none;
	color: #000;
	font-size: 1.5rem;
	font-family: "Righteous",cursive;
	text-transform: uppercase;
}
.admin_menu li:hover {
	background: #f7f7f7;
}


/* admin content styles */

.all_content {
	

}
.exam {

}
.all_content_head {
	background: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content_main_title {
	font-size: 2rem;
	font-family: "Righteous",cursive;
	text-transform: uppercase;

}
.extra_options {
	display: flex;
	align-items: center;
}

button {
	padding: 1rem;
    border: none;
    font-size: 1.7rem;
    text-transform: uppercase;
    cursor: pointer;
}
input {
	padding: 1rem;
	font-size: 1.5rem;
}
.btn_add {
	margin-right: 1rem;
    background: #009688;
    color: #fff;
    border-radius: 5px;
}
.all_content_body {
	padding: 1rem;
	font-size: 1.7rem;
}
.add_content  {
	padding: 2rem;
	background: #fff;
}

.add_content h1 {
	border-bottom: 1px solid red;
    padding-bottom: 1rem;
}
.add_forms_wrapper {
	padding-top: 2rem;
}
.add_forms p {
	padding: 1rem;
	display: flex;
}
.add_forms label {
	font-size: 1.7rem;
    padding-right: 3rem;
}
.add_forms input {
	padding: 1rem;
	font-size: 1.7rem;
}
.btn_div {
	padding: 1rem;
}
.add_forms button {
	font-size: 1.5rem;
	background:#009688;
	color: #fff; 
	border-radius: 5px;
}
.options {
	padding: 1rem;
}
.options h4 {
	font-size: 2rem;
}