* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}
html {
	font-size: 70%;
}
body {
	background-image:linear-gradient(to bottom,#2b282859 50%,#000 80%),url(images/bg.png);
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
}
button {
	cursor: pointer;
	padding: 1rem;
	outline: none;
	border-radius: 3px;
	border:none;
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;

}

.container {
	max-width: 90rem;
	margin:auto;

}
.site_header {
	padding:2rem;

}
.site_title {
	font-size: 3rem;
	font-family: 'Righteous', cursive;
	color: #fff;
}
.top_header {
	display: flex;
	align-items: center;
}
.site_branding {
	flex: 0 1 30%;
}
.site_navigation {
	flex: 0 1 70%;
}
.menu_btn {
	background-color: #4CAF50;
    color: #fff;
    font-weight: 500;
}

.navigation_list {
	list-style-type: none;
	float: right;
}

.navigation_list_item {
	display: inline-block;
	padding:1rem;
}

.navigation_list_item a {
	text-decoration: none;
	font-size: 1.7rem;
	color: #fff;
	font-family: 'Lato', sans-serif;

}
.navigation_list_item:hover {
	background: #4CAF50;
	border-radius: 3px;
}
.navigation_list_item:hover a {
	color: #fff;
}

.main_content_title {
	font-size: 3rem;
	font-family: 'Righteous', cursive; 
	color: #fff;
}

.site_messages {
	position: relative;
}
.messages {
	padding: 10rem;
}
.main_content_title {
	font-size: 3rem;
}
.main_content_title span {
	font-size: inherit;
	display: block;
}

.messages button {
	margin-top: 2rem;
	margin-right: 1rem;
}
.btn {
	background:green;
	color: #fff;
	font-family: inherit;
	font-weight: 500;
	font-size: 1.7rem;
}
.btn a {
	text-decoration: none;
	color: inherit;
}

/* login form styles */
.login {
	position: relative;
	padding:20rem;
}

.login_form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.login_register {
	top: 70%;
}

.form_login {
	display: flex;
	flex-direction: column;
}
.login_title {
	font-size: 3rem;
	color: #fff;
	padding: 1rem;
	padding-left:0;
	font-family: "Righteous",cursive;
	text-align: center;
	margin-bottom: 3rem;
}

.form_login input {
	display: block;
	padding: 1rem;
	font-size: 1.5rem;
	border: none;
	margin-bottom: 1rem;
	border-radius: 3px;
	font-family: inherit;
}
.submit {
	text-align: center;
	color: #fff;
	background-color: green;
}
#check {
	margin-right: 1rem;
}
.input_pair {
	display: flex;
	align-items: baseline;
}

.input_pair {
	color: #fff;
	font-size: 1.7rem;
	font-family: inherit;
	padding-bottom: 1rem;
}
.form_login p {
	color: #fff;
	font-size: 1.5rem;
	font-family: inherit;
	padding:1rem;
	padding-left: 0;

}

.submit {
	cursor: pointer;
}

.input_messages p {

}

.input_pair p {
	display: block;
}
.input_pair input {
	margin-right: 1rem;
}

.label_msg {
	color: #fff;
}
.label_msg a {
	text-decoration: underline;
	font-size: 1.5rem;
}
.errorlist {
	list-style-type: none;
}

.errorlist li {
	color: red;
	font-size: 1.5rem;
	padding-top:1rem;
}
.login_form {
	width: 30%;
}
.login_form strong {
	font-size: 1.7rem;
    text-align: center;
    color: red;
    padding: 5rem;
    padding-bottom: 0;
}
.success {
	text-align: center;
    padding: 10rem;

}

.success_images {
	width: 30%;
}
.success_title {
	color: #fff;
	font-size: 2rem;
}

.success_title span {
	display: block;
}

.success h3 {
	color: orangered;
}

.success h3 span {
	display: block;
	color: skyblue;
}
